html {
  scroll-behavior: smooth;
}

main {
  min-height: calc(100vh - 276px);
  display: flex;
  flex-direction: column;
}

img {
  object-fit: contain;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-nunito), sans-serif;
}
